@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color-dark: #333333;
  --text-color-light: #707070;
  --cta-color: #f69946;
  --cta-color-hover:#c4661a;
  --accent-color: #a9c623;
  --accent-color-hover: #94af16;
  --color-bg-light: #fbf4f0;
  --links-bg: #a49d98;
  --text-light-color: #ffffff;
  --error-color: red;
  scroll-behavior: smooth;
  font-family: "Source Sans 3", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: "Istok Web", sans-serif;
  color: var(--text-color-dark);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  @media (min-width: 768px) {
    padding: 0 32px;
  }
  @media (min-width: 992px) {
    padding: 0 40px;
  }
  @media (min-width: 1280px) {
    padding: 0 15px;
  }
}
