.fresh-deals__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  margin: 0 auto 2rem;
  max-width: 800px;
  
  .fresh-deals__title {
    color: var(--cta-color);
    font-size: 1rem;
    font-weight: 700;
  }
  .fresh-deals__subtitle {
    color: var(--text-color-dark);
    font-size: 2.1rem;
    font-weight: 700;
  }
  .fresh-deals__description {
    color: var(--text-color-dark);
    font-size: 1.1rem;
    box-sizing: border-box;
    overflow-wrap: break-word;
  }
}
.fresh-deals__tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0.9rem 1.25rem;
  margin: 1.3rem auto 0.4rem;
  max-width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-color-light); 
  padding-bottom: 0.5rem;
  width: 1161px; 
  margin: 0 auto;
  position: relative;

  .fresh-deals__indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: var(--cta-color);
  transition: all 0.3s ease;
  border-radius: 1px;
  
}
  .fresh-deals__tab {
    color: var(--text-color-light);
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0 0.5rem;
    white-space: nowrap;

    &:hover {
      color: var(--text-color-dark);
    }
  }
}
 .fresh-deals__tab--active{
  color: var(--text-color-darkest)!important;
  position: relative;
 }
 .fresh-deals__tab--active::after {
  content: "";
  position: absolute;
  bottom: -10px; 
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--cta-color);
  border-radius: 2px;
  transition: all 0.3s ease;
}
.fresh-deals__grid .fresh-deals__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, max-content));
  gap: 1.5rem;
  padding: 1rem;
  justify-items: center;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;

  .fresh-deals__product {
    background-color: var(--bg-color-light);
    text-align: center;
    width: 17rem;
    height: 26.1rem;

    .fresh-deals__image {
      height: 13.6rem;
      width: 13.6rem;
      cursor: pointer;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2rem;
    }
    .fresh-deals__name,
    .fresh-deals__price {
      font-weight: 600;
      color: var(--text-color-dark);
      cursor: pointer;
      font-size: 1.125rem;
    }
    .fresh-deals__price {
      color: var(--accent-color);
    }
    .fresh-deals__button {
      display: block;
      background-color: var(--bg-color-light);
      margin: 1.5rem auto 0;
      color: var(--cta-color);
      border-radius: 0.31rem;
      border: 0.125rem solid var(--accent-color);
      height: 3rem;
      width: 6rem;
      font-size: 0.75rem;
      font-weight: bold;
      box-shadow: none;
      outline: none;

      transition: all 0.2s ease-in-out;

      &:hover {
        color: var(--text-color-on-dark-bg);
        background-color: var(--accent-color);
        box-shadow: none;
        border: 0.06rem solid var(--accent-color);
      }
    }
  }
}
@media (max-width: 768px) {
  .fresh-deals__header {
    padding: 0 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
  .fresh-deals__tabs {
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    padding: 0.9rem 1rem;
  }
  .fresh-deals__tab {
    width: auto;
    text-align: center;
    padding: 0.6rem 0;
  }
  .fresh-deals__tab--active::after {
    bottom: -16px; 
    height: 2px;
}
}



