.fresh-deals__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  margin: 0 auto 2rem;
  max-width: 800px;

  .fresh-deals__title {
    color: var(--cta-color);
    font-size: 1rem;
  }
  .fresh-deals__subtitle {
    color: var(--text-color-dark);
    font-size: 2.1rem;
    font-weight: bold;
  }
  .fresh-deals__description {
    color: var(--text-color-dark);
    font-size: 1.1rem;
    box-sizing: border-box;
    overflow-wrap: break-word;
  }
}
.fresh-deals__tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0.9rem 1.25rem;
  margin: 1.3rem auto 0.4rem;
  max-width: 100%;
  box-sizing: border-box;

  .fresh-deals__tab {
    color: var(--text-color-light);
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0 0.5rem;
    white-space: nowrap;

    &:hover {
      color: var(--text-color-dark);
    }
  }
}
.fresh-deals__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, max-content));
  gap: 1.5rem;
  padding: 1rem;
  justify-items: center;
  box-sizing: border-box;
  justify-content: center;

  .fresh-deals__product {
    background-color: var(--bg-color-light);
    text-align: center;

    .fresh-deals__image {
      height: 13.6rem;
      width: 13.6rem;
      cursor: pointer;
    }
    .fresh-deals__name,
    .fresh-deals__price {
      font-weight: 600;
      color: var(--text-color-dark);
      cursor: pointer;
    }
    .fresh-deals__price {
      color: var(--accent-color);
    }
  }
}
@media (max-width: 768px) {
  .fresh-deals__header {
    padding: 0 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .fresh-deals__tabs {
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    padding: 0.9rem 1rem;
  }

  .fresh-deals__tab {
    width: auto;
    text-align: center;
    padding: 0.6rem 0;
  }
}
