/* Oleksii Melnychuk */

.about-us__main {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  @media (max-width: 860px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.about-us__image {
  flex: 1;
}

.about-us__body {
  flex: 1;
}

.about-us__title {
  color: var(--cta-color);
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 12px;
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.about-us__title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: var(--cta-color-hover);
  transition-duration: 0.5s;
}
.about-us__title:hover {
  color: var(--cta-color-hover);
}

.about-us__title:hover::after {
  width: 100%;
}



.about-us__subtitle {
  font-weight: 700;
  line-height: 1.2;
  font-size: clamp(
    34px,         /* Мінімальний розмір шрифту */
      calc(34px + (42 - 34) * ((100vw - 320px) / (1200 - 320))),   /* Адаптивний розмір */
    42px);       /* Максимальний розмір шрифту */

  margin-bottom: 20px;
  display: block;
  color: var(--text-color-dark);
}

.about-us__description {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: var(--text-color-dark);
}

.about-us__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px 8px;
  margin-bottom: 20px;
  list-style: none;
  align-items: center;

  @media (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 4px 3px;
  }

  @media (min-width: 480px) and (max-width: 1150px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
  }
}

.about-us__item {
  align-items: center;
  font-size: 16px;
  position: relative;
  display: inline-flex;
  cursor: pointer;
}

.about-us__item::before {
  content: url("../img/about-us/round-tick.svg");
  margin-right: 4px;
}

.about-us__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: var(--accent-color-hover);
  transition-duration: 0.5s;
}

.about-us__item:hover::after {
  width: 100%;
}

.about-us__text {
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color-light);
  margin-bottom: 30px;
}

.about-us__button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  padding: 12px 24px;
  background-color: var(--cta-color);
  color: var(--text-color-on-dark-bg);
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us__button:hover {
  background-color: var(--cta-color-hover);
}

.button__icon {
  transform: translate(-3px, -3px);
}
