.top-picks {
  .top-picks__header-container {
    max-width: 600px;
    margin: auto;

    .top-picks__header {
      color: var(--cta-color);
      font-weight: bold;
      font-size: 1rem;
    }

    .top-picks__deals,
    .top-picks__header,
    .top-picks__description {
      display: flex;
      justify-content: center;
    }

    .top-picks__deals {
      color: var(--text-color-dark);
      font-weight: bold;
      font-size: 2rem;
      margin: 1rem;
      @media (min-width: 600px) {
        font-size: 3rem;
      }
    }

    .top-picks__description {
      color: var(--text-color-light);
      font-size: 1.15rem;
      flex-wrap: wrap;
      text-align: center;
      margin: 0 auto;
    }
  }
  .top-picks__card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;

    .top-picks__left-btn,
    .top-picks__right-btn {
      background-color: var(--color-white);
      color: var(--text-color-dark);
      font-size: 1.5rem;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      cursor: pointer;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
            color: var(--color-white);
            background-color: var(--accent-color);
          }
    }

    .top-picks__wheel {
      display: flex;
      gap: 1rem;
      flex-wrap: nowrap;
      overflow-x: auto;

      .top-picks__card {
        background-color: var(--color-bg-light);
        padding: 1rem;
        width: 200px;
        flex: 0 0 auto;
        text-align: center;

        h3,
        p {
          text-align: center;
        }

        .top-picks__price {
          color: var(--accent-color);
          font-weight: bold;
        }

        button {
          display: block;
          margin: 1rem auto 0;
          color: var(--cta-color);
          background-color: var(--color-bg-light);
          border-color: var(--accent-color);
          height: 2rem;
          width: 6rem;
          border-radius: 5px;
          &:hover {
            color: var(--color-white);
            background-color: var(--accent-color);
          }
        }
      }
    }
  }
}
