.how-it-works{

    padding: 50px;

    .how-it-works__title{
        color: var(--accent-color);
        font-size: 14px;
    }

    .how-it-works__subtitle{
        color: var(--text-color-dark);
        font-size: 42px;
        font-style: inherit;
    }
}
