<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Market Website Template Demo</title>
    <link
      rel="shortcut icon"
      href="./img/favicon/favicon.png"
      type="image/x-icon"
      sizes="16x16"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/our-app.css">
  </head>
  <body>
    <header class="header">
      <!-- Ira Mazurak -->
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
      <!-- Ira Mazurak -->
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.header-hero.partial.html"
      ></div>
    </header>
    <main class="main">
      <!-- Oleksii Melnychuk -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.about-us.partial.html"
      ></section>
      <!-- Anna Serdyuk -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.how-it-works.partial.html"
      ></section>
      <!-- Maksym Veselkov -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.top-picks.partial.html"
      ></section>
      <!-- Maksym Savchuk -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.our-app.partial.html"
      ></section>
      <!-- Maryna Grytsun -->
      <section
        data-hx-trigger="load"
        data-hx-get="cart.modal.partial.html"
        data-hx-swap="outerHTML"
      ></section>
      <!-- bobreshova ira -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.need-help.partial.html"
      ></section>
      <!-- Serhii Skoryk -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.weekly-sales.partial.html"
      ></section>
      <!--Diana Patynok-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.fresh-deals.partial.html"
      ></section>
      <!--Artem Monarshuk-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.testimonials.html"
        class="testimonials"
      ></section>
      <!--Bohdan Gusak-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.organic.partial.html"
      ></section>
    </main>
    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
  </body>
</html>
